@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>




    <p>Maria Jesus Chaves</p>
</div>

<div>
    <a href="~/Paciente" role="button" class="btn  btn-success">Pacientes</a>
    <a href="~/Medico" role="button" class="btn  btn-success">Médicos</a>
    <a href="~/Consulta" role="button" class="btn  btn-success">Consultas</a>
    <a href="~/InformacionGeneral" role="button" class="btn btn-info">Información General</a>
</div>